# PAIXAOFLIX — Variáveis de Ambiente
NEXT_PUBLIC_SUPABASE_URL=https://SEU-PROJETO.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua-chave-anon
NEXT_PUBLIC_TMDB_KEY=b275ce8e1a6b3d5d879bb0907e4f56ad
NEXT_PUBLIC_TMDB_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiMjc1Y2U4ZTFhNmIzZDVkODc5YmIwOTA3ZTRmNTZhZCIsIm5iZiI6MTc2NzA1NjIxNS43MTI5OTk4LCJzdWIiOiI2OTUzMjM1NzFjNTI4MjJkM2JjYmRjYTYiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.ZkuZDskKQh1Wx3TQnh4Nk2VIB6ARPsY-ImkTZ6BdM5k
NEXT_PUBLIC_APP_URL=http://localhost:3000
